<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>REF data map</title>
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.1/mapbox-gl.css' rel='stylesheet' />
	<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<script src="underscore-umd-min.js"></script>
	

	<style>
		body, html {
			height: 100%;
		}

		.map_container {
			height: 100%;
			padding-left: 0px;
			padding-right: 0px;
		}

		#map {
			height: 100%;
		}

		.overlay-topleft {
			top: 0;
			left: 0;
		}

		.overlay-topright {
			top: 0;
			right: 0;
		}

		.overlay-bottomleft {
			bottom: 0;
			left: 0;
		}

		.overlay-bottomright {
			bottom: 0;
			right: 0;
		}

		.map-overlay {
			font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
			position: absolute;
			width: 250px;
			padding: 10px;
			z-index: 10;
		}
			 
		.map-overlay .map-overlay-inner {
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
			border-radius: 3px;
			padding: 10px;
			margin-bottom: 10px;
			background-color: rgba(17,17,17,0.9);
			color: #586e75;
		}
			 
		.map-overlay-inner fieldset {
			border: none;
			padding: 0;
			margin: 0 0 10px;
		}
			 
		.map-overlay-inner fieldset:last-child {
			margin: 0;
		}
			 
		.map-overlay-inner select {
			width: 100%;
		}
			 
		.map-overlay-inner p {
			margin: 0;
		}
			 
		.map-overlay-inner label {
			display: block;
			font-weight: bold;
		}
			 
		.map-overlay-inner button {
			background-color: cornflowerblue;
			color: white;
			border-radius: 5px;
			display: inline-block;
			height: 20px;
			border: none;
			cursor: pointer;
		}
			 
		.map-overlay-inner button:focus {
			outline: none;
		}
			 
		.map-overlay-inner button:hover {
			background-color: blue;
			box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
			-webkit-transition: background-color 500ms linear;
			-ms-transition: background-color 500ms linear;
			transition: background-color 500ms linear;
		}
			 
		.offset > label, .offset > input {
			display: inline;
		}
			 
		#animateLabel {
			display: inline-block;
			min-width: 20px;
		}

		.mapboxgl-popup-tip {
			border-top-color: #111!important;
		}

		.mapboxgl-popup-content {
			background: rgba(17,17,17,0.9)!important;
			color: #586e75!important;
		}

		.modal-content {
			background: rgba(17,17,17,0.9)!important;
			color: #586e75!important;
		}

		.modal-header {
			border-bottom: 1px solid black;
		}

		.modal-footer {
			border-top: 1px solid black;
		}

		.CASA_logo {
			height: 30px;
			width: auto;
		}

		.attributionText a {
			color: white;
		}

	</style>

</head>
<body>
<div class="container-fluid min-vh-100 map_container">
	<nav class="navbar navbar-dark bg-dark">
	  <div class="container-fluid">
	    <span class="navbar-brand mb-0 h1">UCL REF2014 Impact Case Study Map Prototype</span>
	  </div>
	</nav>
	<div id='map'>
		<div class="map-overlay top overlay-topright">
			<div class="map-overlay-inner">
				<h5>Impact Type</h5>
				<fieldset>
					<select id="impactType" name="impactType">
						<option value="All" selected="selected">All</option>
						<option value="Cultural">Cultural</option>
						<option value="Economic">Economic</option>
						<option value="Environmental">Environmental</option>
						<option value="Health">Health</option>
						<option value="Legal">Legal</option>
						<option value="Political">Political</option>
						<option value="Societal">Societal</option>
						<option value="Technological">Technological</option>
					</select>
				</fieldset>
				<h5>Projects: <span id="projectsTotal">0</span></h5>
				<h5>Lives Touched: <br /><span id="livesTouchedTotal">0</span></h5>
				<canvas id="impactChart" width="200" height="400"></canvas>
			</div>
		</div>
		<div class="map-overlay bottom overlay-bottomleft" style="display: none;" id="caseStudyDetailWindow">
			<div class="map-overlay-inner" id="caseStudyDetailContent">
				<p>Content</p>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="caseStudyDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

			</div>
		</div>
	</div>

</div>

<script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>

<script>

	mapboxgl.accessToken = 'pk.eyJ1IjoiZGR1bmMyMyIsImEiOiJxQVhaaVhjIn0.T7vhn1bLeeQoHCsWZ_mp2g';
	let map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/ddunc23/ckohaiphc141b18qvpl0rh062', // stylesheet location
		center: [-2.547855, 54.00366,], // starting position [lng, lat]
		zoom: 3.5, // starting zoom,
		logoPosition: 'bottom-right'
	});

	const url = 'ucl_ref_data_geolocated_world_multi-point-randomlives-hexgrid-sample-metrics-updated-9.geojson';
	const countries_url = 'countries_outlines.geojson';

	// Global variable to hold map filter status

	let isMapFiltered = false;

	// helper function to generate colour shades

	function shadeColor(color, shade) {
	    var colorInt = parseInt(color.substring(1),16);

	    var R = (colorInt & 0xFF0000) >> 16;
	    var G = (colorInt & 0x00FF00) >> 8;
	    var B = (colorInt & 0x0000FF) >> 0;

	    R = R + Math.floor((shade/255)*R);
	    G = G + Math.floor((shade/255)*G);
	    B = B + Math.floor((shade/255)*B);

	    var newColorInt = (R<<16) + (G<<8) + (B);
	    var newColorStr = "#"+newColorInt.toString(16);

	    return newColorStr;
	}

	// Helper function to calculate impact ranges
	function impactRange(impact_number) {
		let range = '';
		if (impact_number < 100000) {
			range = '50,000 - 100,000';
		} else if (impact_number >= 100000 && impact_number < 500000) {
			range = '100,000 - 500,000';
		} else if (impact_number >= 500000 && impact_number < 1000000) {
			range = '500,000 - 1,000,000';
		} else if (impact_number >= 1000000 && impact_number < 2000000) {
			range = '1,000,000 - 2,000,000';
		} else if (impact_number >= 2000000 && impact_number < 5000000) {
			range = '2,000,000 - 5,000,000';
		} else if (impact_number >= 5000000 && impact_number < 1000000) {
			range = '5 - 10 million';
		} else if (impact_number >= 10000000 && impact_number < 50000000) {
			range = '10 - 50 million';
		} else if (impact_number >= 50000000 && impact_number < 100000000) {
			range = '50 - 100 million';
		} else if (impact_number >= 100000000) {
			range = '100 million+';
		}
		return range;
	}

	// Helper function to round the 'lives touched' total

	function roundTotal(whole_number) {
		let multiplier = 0;

		if (whole_number <= 10) {
			return whole_number;
		} else if (whole_number > 10 && whole_number <= 100) {
			multiplier = 100;
		} else if (whole_number > 100 && whole_number <= 10000) {
			multiplier = 1000;
		} else if (whole_number > 10000 && whole_number <= 100000) {
			multiplier = 10000;
		} else if (whole_number > 100000) {
			multiplier = 100000;
		}
		
		rounded = Math.round(whole_number/multiplier) * multiplier;

		if (rounded < 100) {
			return 100;
		} else {
			return rounded;
		}
	}


	const colourScheme = {
		'Cultural': '#d33682',
		'Economic': '#cb4b16',
		'Environmental': '#2aa198',
		'Health': '#6c71c4',
		'Legal': '#dc322f',
		'Political': '#859900',
		'Societal': '#b58900',
		'Technological': '#268bd2',
		'All': '#93a1a1'
	}

	let livesTouchedTotals = {
		'Cultural': 0,
		'Economic': 0,
		'Environmental': 0,
		'Health': 0,
		'Legal': 0,
		'Political': 0,
		'Societal': 0,
		'Technological': 0,
		'All': 0
	};

	let livesImprovedTotals = {
		'Cultural': 0,
		'Economic': 0,
		'Environmental': 0,
		'Health': 0,
		'Legal': 0,
		'Political': 0,
		'Societal': 0,
		'Technological': 0,
		'All': 0
	};

	let caseStudyIds = [];

	let projectsTotals = {
		'Cultural': 0,
		'Economic': 0,
		'Environmental': 0,
		'Health': 0,
		'Legal': 0,
		'Political': 0,
		'Societal': 0,
		'Technological': 0,
		'All': 0
	}

	const metricTypes = {
	    'LIVESTOUCHED': 'Lives Touched',
	    'LIVESIMPROVED': 'Lives Improved',
	    'ECONOMICVALUE': 'Economic Value (£)',
	    'MEDIACOVERAGE': 'Media Coverage',
	    'PATIENTSTREATED': 'Patients Treated',
	    'POTENTIALPATIENTS': 'Potential Patients',
	    'STUDYPARTICIPANTS': 'Study Participants',
	    'IMPACTEDBYPOLICYCHANGE': 'Impacted by Policy Change'
	}


	let metrics = {
		'Cultural': {},
		'Economic': {},
		'Environmental': {},
		'Health': {},
		'Legal': {},
		'Political': {},
		'Societal': {},
		'Technological': {},
		'All': {}
	};

	let metricsTotals = {
		'Cultural': 0,
		'Economic': 0,
		'Environmental': 0,
		'Health': 0,
		'Legal': 0,
		'Political': 0,
		'Societal': 0,
		'Technological': 0,
		'All': 0	
	};

	
	function updateLivesTouchedTotal(caseStudies, impactType) {
		// updates the lives touched total, depending on impact type. If no impactType passed, gives the total for the whole data set
		let livesTouchedTotal = document.getElementById('livesTouchedTotal');
		let projectsTotal = document.getElementById('projectsTotal');
		let total = impactRange(caseStudies[impactType]);
		let projects = projectsTotals[impactType];
		livesTouchedTotal.innerHTML = total.toLocaleString("en-US");
		livesTouchedTotal.style.color = colourScheme[impactType];
		projectsTotal.innerHTML = projects.toLocaleString("en-US");
		projectsTotal.style.color = colourScheme[impactType];

	}

	function updateLivesImprovedTotal(caseStudies, impactType) {
		
		let total = 0;

		if (livesImprovedTotals['All'] == 0) {
			Object.keys(livesImprovedTotals).forEach(function(key) {
				total += livesImprovedTotals[key];
			});
			livesImprovedTotals['All'] = total;
		} 

		
		total = livesImprovedTotals[impactType];
	}


	function resetChart() {
		let impactType = 'All';
		let datasets = [];


		if (impactType == 'All') {		
			for (let i in metricsTotals) {
				if (i == 'All') {
					continue;
				}
				let dataset = {
					data: [metricsTotals[i]],
					label: i,
					backgroundColor: colourScheme[i]
				};
				datasets.push(dataset);
			}
		} else {
			let impactMetrics = metrics[impactType];

			let currentColour = colourScheme[impactType];

			for (let i in impactMetrics) {
				let dataset = {
					data: [impactMetrics[i]],
					label: i,
					backgroundColor: currentColour
				}
				datasets.push(dataset);
				currentColour = shadeColor(currentColour, -100);
			}
		}

	    impactChart.data.datasets = datasets;
		impactChart.update();

		updateLivesTouchedTotal(metricsTotals, 'All');

		document.getElementById('impactType').selectedIndex = 0;

	}

	function populateTotalsChart() {

		// Create totals using the new metrics ...

		for (let i=0; i<caseStudies.features.length; i++) {
			feature = caseStudies.features[i];

			if (caseStudyIds.includes(feature.properties.CaseStudyI)) {
				continue;
			}

			caseStudyIds.push(feature.properties.CaseStudyI);
			projectsTotals[feature.properties.ImpactType] += 1;

			impactType = feature.properties.ImpactType;
			featureMetrics = feature.properties.metrics;

			if (featureMetrics && Object.keys(metricTypes).includes(featureMetrics[0].metrictype) && typeof(featureMetrics[0].value) == 'number') {
				
				metricsTotals[impactType] += roundTotal(featureMetrics[0].value);

				if (typeof(metrics[impactType][featureMetrics[0].metrictype]) == 'number') {
					metrics[impactType][featureMetrics[0].metrictype] += roundTotal(featureMetrics[0].value);
				} else {
					metrics[impactType][featureMetrics[0].metrictype] = roundTotal(featureMetrics[0].value);
				}
			}			
		}

		projectsTotals.All = caseStudyIds.length;
		document.getElementById('projectsTotal').innerHTML = projectsTotals.All;


		for (let i in metricsTotals) {
			if (i != 'All') {
				metricsTotals['All'] += metricsTotals[i];
			}
		}

		// Update the totals

		for (i=0; i<caseStudies.features.length; i++) {
			feature = caseStudies.features[i];
			livesTouchedTotals[feature.properties.ImpactType] += roundTotal(feature.properties.livesTouch);
			livesImprovedTotals[feature.properties.ImpactType] += roundTotal(feature.properties.livesImpro);
		}

		updateLivesTouchedTotal(metricsTotals, 'All');
		updateLivesImprovedTotal(caseStudies, 'All');

		// Create the bar chart

		let ctx = document.getElementById('impactChart').getContext('2d');

		let datasets = [];
		
		for (let i in metricsTotals) {
			if (i == 'All') {
				continue;
			}
			let dataset = {
				data: [metricsTotals[i]],
				label: i,
				backgroundColor: colourScheme[i]
			};
			datasets.push(dataset);
		}

		let chartData = {
			labels: ['Lives Touched'],
			datasets: datasets
		}

		impactChart = new Chart(ctx, {
			type: 'bar',
			data: chartData,
		  	options: {
				scales: {
					xAxes: [{
						stacked: true
					}],
					yAxes: [{
						stacked: true
					}]
				},
				legend: {
					display: false
				},
				tooltips: {
					mode: 'index',
					intersect: true
				}
			}
		});

		// Update the chart when the user changes the filter

		let impactTypeSelect = document.getElementById('impactType');
		impactTypeSelect.addEventListener('change', function() {
			let impactType = this.value;
			let datasets = [];


			if (impactType == 'All') {		
				for (let i in metricsTotals) {
					if (i == 'All') {
						continue;
					}
					let dataset = {
						data: [metricsTotals[i]],
						label: i,
						backgroundColor: colourScheme[i]
					};
					datasets.push(dataset);
				}
			} else {
				let impactMetrics = metrics[impactType];

				let currentColour = colourScheme[impactType];

				for (let i in impactMetrics) {
					let dataset = {
						data: [impactMetrics[i]],
						label: i,
						backgroundColor: currentColour
					}
					datasets.push(dataset);
					currentColour = shadeColor(currentColour, -100);
				}
			}

		    impactChart.data.datasets = datasets;
			impactChart.update();
		});
	}


	// Hold the json data in a variable so you can do stuff with it, outside of mapbox js
	let caseStudies = null;
	let countriesData = null;

	// Create an empty variable to hold the chart so you can reference it later on
	let impactChart = null;

	fetch(url).then(response => response.json()).then(function(data) {
		caseStudies = data;
		populateTotalsChart();
	});

	fetch(countries_url).then(response => response.json()).then(function(data) {
		countriesData = data;
	});
	

	map.on('load', function() {

		map.addSource('ref', { 
			type: 'geojson', 
			data: url
		});

		map.addSource('countries', {
			type: 'geojson',
			data: countries_url
		})

		map.addLayer({
			id: 'country_outlines',
			type: 'fill',
			source: 'countries',
			layout: {
				'visibility': 'none'
			},
			paint: {
			}
		})

		map.addLayer({
			id: 'refdata',
			type: 'circle',
			source: 'ref',
			layout: {
				// get the title name from the source's "title" property
				
			},
			paint: {
				'circle-color': 
					[
						'case', 
						['==', ['get', 'ImpactType'], 'Cultural'], 
						colourScheme['Cultural'], 
						['==', ['get', 'ImpactType'], 'Health'], 
						colourScheme['Health'],
						['==', ['get', 'ImpactType'], 'Technological'], 
						colourScheme['Technological'],
						['==', ['get', 'ImpactType'], 'Environmental'], 
						colourScheme['Environmental'],
						['==', ['get', 'ImpactType'], 'Political'], 
						colourScheme['Political'],
						['==', ['get', 'ImpactType'], 'Societal'], 
						colourScheme['Societal'],
						['==', ['get', 'ImpactType'], 'Economic'], 
						colourScheme['Economic'],
						['==', ['get', 'ImpactType'], 'Legal'], 
						colourScheme['Legal'],
						'#073642'
					],
				'circle-radius': ["interpolate", ["linear"], ["zoom"], 1, 3, 5, 2, 10, 20]
			}
		});

		// Add attribution

		class LogoControl {
			onAdd(map) {
				this._map = map;
				this._container = document.createElement('div');
				this._container.className = 'mapboxgl-ctrl';
				this._container.innerHTML = '<span class="attributionText"><a href="https://www.ucl.ac.uk/bartlett/casa/"><img class="CASA_logo" src="CASA_logo.png" alt="CASA logo" /></a> <a href="https://www.ucl.ac.uk/bartlett/casa/">Powered by CASA</a></span>';
				return this._container;
			}

			onRemove() {
				this._container.parentNode.removeChild(this._container);
				this._map = undefined;
			}
		}

		let logoControl = new LogoControl();

		map.addControl(logoControl, 'bottom-left');


		// Filter the map according to impact type
		
		let impactTypeSelect = document.getElementById('impactType');
		impactTypeSelect.addEventListener('change', function() {
			
			let impactType = this.value;

			if (impactType == 'All') {
				map.setFilter('refdata', null);
			} else {
				map.setFilter('refdata', ['==', ['get', 'ImpactType'], impactType]);	
			}
			

			// Update the running total

			updateLivesTouchedTotal(metricsTotals, impactType);

		});

		// Hover interactions

		let popup = new mapboxgl.Popup({
			closeButton: false,
			closeOnClick: false
		});

		map.on('mouseenter', 'refdata', function(e) {
			// Change the cursor style as a UI indicator.
			map.getCanvas().style.cursor = 'pointer';
			 
			let coordinates = e.features[0].geometry.coordinates.slice();

			let fontColour = colourScheme[e.features[0].properties.ImpactType];
			
			description = '';

			if (e.features[0].properties.ShortTitle == '') {
				description = '<span style="color: '+ fontColour +'">' + e.features[0].properties.Title + '</span>';
			} else {
				description = '<span style="color: '+ fontColour +'">' + e.features[0].properties.ShortTitle + '</span>';
			}

			 
			// Ensure that if the map is zoomed out such that multiple
			// copies of the feature are visible, the popup appears
			// over the copy being pointed to.
			while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
			coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
			}
			 
			// Populate the popup and set its coordinates
			// based on the feature found.
			popup.setLngLat(coordinates).setHTML(description).addTo(map);
			});
			 
			map.on('mouseleave', 'refdata', function () {
				map.getCanvas().style.cursor = '';
				popup.remove();
		});

		// Click interactions

		// When a user clicks on the map, clear all filters

		map.on('click', function(e) {
			if (isMapFiltered == true) {
				map.setFilter('refdata');
				// Hide country shapes
				map.setLayoutProperty('country_outlines', 'visibility', 'none');
				document.getElementById('caseStudyDetailWindow').style.display = 'hidden';
				document.getElementById('caseStudyDetailContent').innerHTML = '';
				map.setPaintProperty('refdata', 'circle-radius',  ["interpolate", ["linear"], ["zoom"], 1, 3, 5, 2, 10, 20]);
				map.removeLayer('LineString');
				map.removeSource('LineString');
				clickPopup.remove();
				isMapFiltered = false;
				resetChart()
			}
		});

		let clickPopup = new mapboxgl.Popup({
			closeButton: false,
			closeOnClick: false,
			maxWidth: '300px'
		});

		map.on('click', 'refdata', function(e) {

			let coordinates = e.features[0].geometry.coordinates.slice();
			let caseStudyId = e.features[0].properties.CaseStudyI;
			let impactType = e.features[0].properties.ImpactType;
			let description = e.features[0].properties.Title;


			// Filter the studies GeoJSON so you can do stuff with it
			let filteredCaseStudyGeoJSON = caseStudies.features.filter(feature => feature.properties.CaseStudyI == caseStudyId);
			let props = filteredCaseStudyGeoJSON[0].properties;


			// Hide country shapes

			map.setLayoutProperty('country_outlines', 'visibility', 'none');

			// Highlight the countries associated with this case study

			let countries = props.Country;

			let matched_countries = []
			
			for (let i=0; i<countries.length; i++) {
				matched_countries.push(countries[i].Name)
			}

			map.setFilter('country_outlines', ['in', ['get', 'CNTRY_NAME'], ['literal', matched_countries]]);
			map.setLayoutProperty('country_outlines', 'visibility', 'visible');
			map.setPaintProperty('country_outlines', 'fill-color', colourScheme[impactType]);
			map.setPaintProperty('country_outlines', 'fill-opacity', 0.1);

			// filter the countries GeoJSON so you can do other stuff with it
			let filteredCountriesGeoJSON = countriesData.features.filter(feature => matched_countries.includes(feature.properties.CNTRY_NAME));
			
			// Caluculate the centroid of each country and save it as geojson
			for (let i=0; i<filteredCountriesGeoJSON.length; i++) {
				centroid = turf.centroid(filteredCountriesGeoJSON[i].geometry);
				filteredCountriesGeoJSON[i].geometry = centroid.geometry;
			}

			// Merge the two GeoJSON arrays and then calculate the total bounds

			let allPoints = filteredCaseStudyGeoJSON.concat(filteredCountriesGeoJSON);

			
			let bounds = allPoints.reduce(function(bounds, study) {
				let coord = study.geometry.coordinates;
				return bounds.extend(coord);
			}, new mapboxgl.LngLatBounds([coordinates, coordinates]));


			let spatialGraph = {
				'type': 'FeatureCollection',
				'features': [
				]
			}

			for (let i=0; i < filteredCaseStudyGeoJSON.length; i++) {
				let lineString = {
					'type': 'Feature',
					'geometry': {
						'type': 'LineString',
						'properties': {},
						'coordinates': []
					}
				}
				let origin = coordinates;
				let coords = filteredCaseStudyGeoJSON[i].geometry.coordinates;
				lineString.geometry.coordinates.push(origin);
				lineString.geometry.coordinates.push(coords);
				spatialGraph.features.push(lineString);
			}

			map.addSource('LineString', {
				'type': 'geojson',
				'data': spatialGraph
			});
			
			map.addLayer({
				'id': 'LineString',
				'type': 'line',
				'source': 'LineString',
				'layout': {
				'line-join': 'round',
				'line-cap': 'round'
				},
				'paint': {
				'line-color': colourScheme[impactType],
				'line-width': 1
				}
			});

			map.fitBounds(bounds, {
				padding: {
					'top': 100,
					'bottom': 300,
					'left': 100,
					'right': 300
				}
			});

			// Set the filter to hide all the other case studies

			map.setFilter('refdata', ['==', ['get', 'CaseStudyI'], caseStudyId]);
			isMapFiltered = true;

			// Set the layer style so the points are more visible

			map.setPaintProperty('refdata', 'circle-radius',  ["interpolate", ["linear"], ["zoom"], 2, 6, 10, 4, 20, 40]);
			
			// Add the popup

			let fontColour = colourScheme[impactType];

			// Underscore html template

			let popupTemplate = `
				<h5 style="color: <%= fontColour %>"><%= title %></h5>
				<p><strong style="color: <%= fontColour %>">Impact Type: <%= impactType %></strong></p>
				<hr />
				<h6 style="color: <%= fontColour %>">Impact Summary</h6>
				<p><%= impactSummary %></p>
				<h6 style="color: <%= fontColour %>">Countries Impacted</h6>
				<p><%= countries %></p>
				<h6 style="color: <%= fontColour %>">Research Locations</h6>
				<p><%= places %></p>
				<h6 style="color: <%= fontColour %>">Impact Metrics</h6>
				<%= metrics %>
				<h6 style="color: <%= fontColour %>">Investigators</h6>
				<p><%= principalInvestigator %></p>
				<button class="btn btn-sm btn-dark" id="show_detail">Read Case Study</button>
			`;

			let compiled = _.template(popupTemplate);
			
			let title = '';

			// If there isn't a short title, use the long one

			if (props.ShortTitle == '') {
				title = props.Title;
			} else {
				title = props.ShortTitle;
			}

			let placesArr = [];
			
			for (let i=0; i<props.PlaceName.length; i++) {
				placesArr.push(props.PlaceName[i].Name);
			}

			for (let i=0; i<props.UKLocation.length; i++) {
				placesArr.push(props.UKLocation[i].Name);
			}

			let placesHtml = placesArr.join(', ');

			let countriesArr = [];

			for (let i=0; i<props.Country.length; i++) {
				countriesArr.push(props.Country[i].Name);
			}

			let countriesHtml = countriesArr.join(', ');

			// Create metrics list

			let metricsHtml = '';

			for (let i=0; i<props.metrics.length; i++) {
				let metric = metricTypes[props.metrics[i].metrictype];
				
				if (metric == undefined) {
					metric = 'Lives Touched'
				}

				metricsHtml += '<p><strong>' + metric + ': ' + impactRange(props.metrics[i].value) + '</strong></p>';
			};

			// Compile the template 

			popupHtml = compiled({
				fontColour: fontColour, 
				title: title,
				impactType: impactType,
				principalInvestigator: props.PI,
				countries: countriesHtml,
				places: placesHtml,
				impactSummary: props.ImpactSumm.slice(0, 250) + '...',
				metrics: metricsHtml
			});

			popup.remove();

			clickPopup.setLngLat(coordinates).setHTML(popupHtml).addTo(map);

			// Activate the 'read more' modal button
			var detailModal = new bootstrap.Modal(document.getElementById('caseStudyDetailModal'));

			document.getElementById('show_detail').addEventListener('click', function(e) {

				modalContentTemplate = `
				<div class="modal-header">
					<h4 class="modal-title" id="staticBackdropLabel" style="color: <%= fontColour %>"><%= title %></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<h5><strong style="color: <%= fontColour %>">Impact Type: <%= impactType %></strong></h5>
					<h5 style="color: <%= fontColour %>">Investigators</h5>
					<p><%= principalInvestigator %></p>
					<h5 style="color: <%= fontColour %>">Countries Impacted</h5>
					<p><%= countries %></p>
					<h5 style="color: <%= fontColour %>">Research Locations</h5>
					<p><%= places %></p>
					<h5 style="color: <%= fontColour %>">Impact Metrics</h5>
					<%= metrics %>
					<h5 style="color: <%= fontColour %>">Impact Summary</h5>
					<p><%= impactSummary %></p>
					<hr />
					<h4 style="color: <%= fontColour %>">Case Study: <%= fullTitle %></h4>
					<p><%= impactDetails %></p>
					<h5 style="color: <%= fontColour %>">Sources</h5>
					<p><%= sources %></p>
					<h5 style="color: <%= fontColour %>">Underpinning Research</h5>
					<p><%= underpinningResearch %></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
				</div>`

				let compiled = _.template(modalContentTemplate);

				let modalHtml = compiled({
					title: title,
					impactDetails: props.ImpactDeta,
					fontColour: fontColour,
					impactType: impactType,
					principalInvestigator: props.PI,
					countries: countriesHtml,
					places: placesHtml,
					impactSummary: props.ImpactSumm,
					metrics: metricsHtml,
					fullTitle: props.Title,
					sources: props.Sources,
					underpinningResearch: props.UnderpinningResearch
				});

				let modalContent = document.getElementById('caseStudyDetailModal').getElementsByClassName('modal-content')[0];

				modalContent.innerHTML = modalHtml;

				detailModal.toggle();
			});
			
		});


	});



</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>